<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buildup">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_new"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon_new"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuildUp"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.Address.layouts.AddressesActivityProfile"></activity>
        <activity android:name=".ui.LottieAnimation.SuccessMessageActivity" />
        <activity android:name=".ui.ReturnOrder.BankDetailsActivity" />
        <activity
            android:name=".ui.ReturnOrder.ReturnActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".ui.Products.layouts.FilterActivity" />
        <activity android:name=".ui.LoginSignup.GoogleSignupActivity" />
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.Products.layouts.CodPaymentActivity" />
        <activity android:name=".ui.Address.layouts.AddressesActivity" />
        <activity android:name=".ui.Orders.layouts.OrderActivity" />
        <activity android:name=".ui.Orders.layouts.OrdersActivity" />
        <activity android:name=".ui.IntroScreens.GetStartedActivity" />
        <activity android:name=".ui.LoginSignup.NewSendOtpActivity" />
        <activity android:name=".ui.LoginSignup.NewOtpActivity" />
        <activity android:name=".ui.LoginSignup.NewSignupActivity" />
        <activity android:name=".ui.LoginSignup.LoginSignupSelectorActivity" />
        <activity android:name=".ui.Products.layouts.SearchActivity">

            <!-- android:theme="@style/Theme.AppCompat.Light"> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEARCH" /> -->
            <!-- </intent-filter> -->
            <!-- <meta-data android:name="android.app.searchable" -->
            <!-- android:resource="@xml/searchable"/> -->
        </activity>
        <activity android:name=".ui.Expenditure.PaymentActivity" />
        <activity
            android:name=".ui.LottieAnimation.WorkInProgressActivity"
            android:exported="true" />
        <activity
            android:name=".ui.BottomNavigation.CartActivity"
            android:exported="true" />
        <activity
            android:name=".ui.BottomNavigation.WishlistActivity"
            android:exported="true" />
        <activity
            android:name=".ui.BottomNavigation.ProfileActivity"
            android:exported="true" />
        <activity android:name=".ui.IntroScreens.IntroScreen" />
        <activity android:name=".ui.Products.layouts.ProductActivity" />
        <activity android:name=".ui.Products.layouts.ProductCategoryActivity" />
        <activity android:name=".ui.Products.layouts.ProductsActivity" />
        <activity android:name=".ui.Expenditure.ExpenditureActivity" />
        <activity android:name=".ui.Property.layouts.PropertyActivity" />
        <activity android:name=".ui.Property.layouts.AddPropertyActivity" />
        <activity android:name=".ui.Property.layouts.PropertiesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.buildup.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>